.input{
    height:35px;
    width:200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
}
.byn{
    height:35px;
    width:200px;
    display: block;
    margin: auto;
    background-color: skyblue;
    margin-bottom: 20px;
    cursor: pointer;
}